In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,2022-07-26 00:12:47,-33.5906,26.8910,52.18,83,0,1.01
1,1,Yulara,AU,2022-07-26 00:12:47,-25.2406,130.9889,51.22,52,0,17.02
2,2,Ixtapa,MX,2022-07-26 00:10:52,20.7000,-105.2000,85.23,79,75,8.05
3,3,Corrales,US,2022-07-26 00:12:16,35.2378,-106.6067,88.95,38,63,23.00
4,4,Hermanus,ZA,2022-07-26 00:12:48,-34.4187,19.2345,50.81,54,0,8.41

In [3]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Ixtapa,MX,2022-07-26 00:10:52,20.7000,-105.2000,85.23,79,75,8.05
3,3,Corrales,US,2022-07-26 00:12:16,35.2378,-106.6067,88.95,38,63,23.00
5,5,Ponta Do Sol,PT,2022-07-26 00:12:49,32.6667,-17.1000,81.23,46,59,5.46
14,14,Hasaki,JP,2022-07-26 00:12:54,35.7333,140.8333,79.20,85,66,19.17
15,15,Norman Wells,CA,2022-07-26 00:12:54,65.2820,-126.8329,78.84,29,40,12.66
16,16,Kudahuvadhoo,MV,2022-07-26 00:12:55,2.6708,72.8944,79.02,82,73,18.10
17,17,Aden,YE,2022-07-26 00:12:56,12.7794,45.0367,82.00,82,99,15.68
19,19,Lakeside,US,2022-07-26 00:12:57,30.1300,-81.7682,87.94,67,0,13.80
21,21,Bethel,US,2022-07-26 00:12:58,41.3712,-73.4140,82.85,84,0,6.91
23,23,Namatanai,PG,2022-07-26 00:12:59,-3.6667,152.4333,81.77,78,39,8.81

In [10]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2         Ixtapa      MX     85.23  20.7000 -105.2000
3       Corrales      US     88.95  35.2378 -106.6067
5   Ponta Do Sol      PT     81.23  32.6667  -17.1000
14        Hasaki      JP     79.20  35.7333  140.8333
15  Norman Wells      CA     78.84  65.2820 -126.8329
16  Kudahuvadhoo      MV     79.02   2.6708   72.8944
17          Aden      YE     82.00  12.7794   45.0367
19      Lakeside      US     87.94  30.1300  -81.7682
21        Bethel      US     82.85  41.3712  -73.4140
23     Namatanai      PG     81.77  -3.6667  152.4333

In [12]:
# Set parameters to search for a hotel.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    
    lat = row["Lat"]
    
    lng = row["Lng"]
 
    # Add the latitude and longitude to location key for the params dictionary.
    
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Ixtapa,MX,85.23,20.7000,-105.2000,hotel la terminal
3,Corrales,US,88.95,35.2378,-106.6067,Quality Inn
5,Ponta Do Sol,PT,81.23,32.6667,-17.1000,Hotel do Campo
14,Hasaki,JP,79.20,35.7333,140.8333,Inubosaki Kanko Hotel
15,Norman Wells,CA,78.84,65.2820,-126.8329,Heritage Hotel
...,...,...,...,...,...,...
529,Bloomfield,US,86.25,40.8068,-74.1854,Troy Carroll
530,Nhulunbuy,AU,79.41,-12.2333,136.7667,East Arnhem Real Estate
533,Quepos,CR,77.49,9.4236,-84.1652,Jungle Beach Hotel at Manuel Antonio
535,Mae Hong Son,TH,75.34,19.3003,97.9685,Baiyoke Chalet Hotel
537,Sayat,TM,80.47,38.7839,63.8803,

In [14]:
# Add a heatmap of temperature for the vacation spots and marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                 
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
info_box_template = """

<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>

"""

# Store the DataFrame Row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [16]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))